# QUANT DEV - CASE STUDY
Get the data of daily close price for following coins </br>

- Bitcoin, Ethereum, Cardano, Solana and Polkadot using the sample API below-

In [12]:
import json
import requests
URL = 'https://min-api.cryptocompare.com/data/v2/histoday?fsym=BTC&tsym=USD&limit=1095'
response_API = requests.get(URL)
#requests.get('https:// min-api.cryptocompare.com/data/v2/histoday?fsym=BTC & tsym=USD & limit=1095')
print(response_API.status_code)

200

In [13]:
#print(response_API.json())
response_json = response_API.json()
# print(response_json)
import pandas as pd

df = pd.read_json(URL)

In [14]:
df.head()
df.to_excel()

,Response,Message,HasWarning,Type,RateLimit,Data
Aggregated,Success,,False,100,NaN,False
TimeFrom,Success,,False,100,NaN,1572739200
TimeTo,Success,,False,100,NaN,1667347200
Data,Success,,False,100,NaN,"[{'time': 1572739200, 'high': 9396.1, 'low': 9..."